In [1]:
import pandas as pd
from sklearn import datasets
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.api as sm
import scipy.stats as stats
from statsmodels.stats.anova import AnovaRM
from statsmodels.stats.descriptivestats import sign_test

In [29]:
data = pd.read_csv('data/new-site.csv',sep='\t')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [10]:
grouped_data = data.groupby('site')['dwell-time'].sum().reset_index()

In [11]:
grouped_data

   site  dwell-time
0     0       16898
1     1       10032

In [12]:
grouped_data = data.groupby('site')['dwell-time'].mean().reset_index()
grouped_data

   site  dwell-time
0     0   90.849462
1     1   88.000000

In [15]:
data0 = data[data['site']==0]

In [16]:
data1 = data[data['site']==1]

In [17]:
# задаём уровень значимости
alpha = 0.05 


# проводим тест Шапиро — Уилка
_, p = stats.shapiro(data0['dwell-time'])

print('p-value = %.3f' % (p))

# интерпретируем результат
if p <= alpha:
    print('Распределение не нормальное')
else:
    print('Распределение нормальное')

p-value = 0.000
Распределение не нормальное

In [18]:
# задаём уровень значимости
alpha = 0.05 


# проводим тест Шапиро — Уилка
_, p = stats.shapiro(data1['dwell-time'])

print('p-value = %.3f' % (p))

# интерпретируем результат
if p <= alpha:
    print('Распределение не нормальное')
else:
    print('Распределение нормальное')

p-value = 0.000
Распределение не нормальное

In [31]:
data0 = data.loc[data['site']==0, 'dwell-time']
data1 = data.loc[data['site']==1, 'dwell-time']

In [33]:
# задаём уровень значимости
alpha = 0.05 


# проводим тест
_, p = stats.mannwhitneyu(data1, data0)

print('p-value = {:.3f}'.format(p))


# интерпретируем результат
if p <= alpha:
    print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу.'.format(alpha))
else:
    print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.

In [ ]:
data.describe()